{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>EdAnalytica</title>
  </head>
  <body class="bg-light">
    {% block header %}
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          {% if request.org %}
            <img src="/_files/{{request.org.logo}}" style="max-height: 40px;"/>
          {% else %}
              EdAnalytica
          {% endif %}
          </a>
      </nav>
    </header>
    {% endblock %}
    {% block content %}

    {% endblock %}
    {% block footer %}
    <div class="navbar navbasr-default navbar-fixed-bottom bg-white" style="margin-top:5%">
        <div class="container">
            <div class="row">
                <p class="navbar-text pull-left ">
                  {% if request.org %}
                    <a href="#">{{request.org.footer}}</a>
                  {% else %}
                    <a href="#">© 2019-2020 EdAnalytica Today All Rights Reserved</a>
                  {% endif %}
                </p>
            </div>
        </div>
    </div>
  {% endblock %}
  {% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% endblock %}
  {% block extrascripts %}
  {% endblock %}
  </body>
</html>