
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-white border-bottom" >
    <br/>
    <div class="row mt-auto ml-5">
        <div class="col-sm-6">
            <h3>{{quiz.name}}</h3>
        </div>
        <div class="col-sm-5 text-right">
            <h3><span id="timer"></span></h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      
      <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:2%">
        <input type="hidden" name="quizId" value="{{quiz.id}}" id="quizId">
        <input type="hidden" name="submission-uuid" value="{{submission_uuid}}" id="submission-uuid">
        <input type="hidden" name="started-at" id="started-at" value="{{started_at}}">

        {% csrf_token %}
        <div class="card">
            <article class="card-body">
                {% for question in questions %}
                <div class="col-sm-12">
                    <p>{{ forloop.counter0|add:questions.start_index }}. {{ question.question }}</p>
                </div>
                {% for option in question.options %}
                    <div class="form-check ml-4">
                        <input class="form-check-input" type="radio" value="{{option.id}}" name="{{question.id}}" id="{{question.id}}">
                        <label class="form-check-label" for="{{question.id}}">
                            &nbsp;{{ option.option }}
                        </label>
                    </div>
                {% endfor %}
                <hr/>
                {% endfor %}
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4 text-center" >
                        {% if not questions.has_next %}
                        <button name="submit-btn" class="btn btn-primary" onclick="">Submit</button>
                        {% endif %}
                </div>
                    <div class="col-sm-4 text-right">
                        {% if questions.has_previous %}
                    &nbsp;<button name="pagination-btn" class="btn btn-secondary" onclick="go_page({{quiz.id}}, {{questions.previous_page_number}})">Prev</button>
                    {% endif %}
                    {{page}} of {{ questions.paginator.num_pages }}
                    {% if questions.has_next %}
                        &nbsp;<button name="pagination-btn" class="btn btn-secondary" onclick="go_page({{quiz.id}}, {{questions.next_page_number}})">Next</button>
                    {% endif %}
                    </div>
                </div>
            </article>

        </div> <!-- card.// -->
  
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> 

{% endblock %}
{% block extrascripts %}
<script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}